sup, sub {
	padding: 0 0.2em;
	display: inline;
	font-size: 75%;
	vertical-align: top;
	position: relative;
	top: -0.3em;
}

.footnotes {
	font-size: 80%;
}

// Put the CSS for the popup here.
// #footnotediv{
//	
//}