// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";

em { /* make italics a little bolder */
  font-style: italic;
  font-weight: 400;
}

ul, ol {
  list-style-type: circle;
  margin-left: 1.5em;
  @media screen and (max-width: 640px) {
    margin-left: 1em;
  }

  li > ul {
    // nested list
    list-style-type: "+ ";
  }
}

.narrow-top {
  margin-top: -0.25em !important;
}

.horizline {
  border-bottom: 1px solid black;
  margin-bottom: 10px !important;
}

.forceleft{
  text-align: left !important;
}

.pagination {text-align:center;}
a.prev {float:left;}
a.next {float:right;}

#rss-link {
  float: right;
  position: relative;
  z-index: 1;
  img {
    width: 50px;
    height: 50px;
  }
}

#flashmob-how-to .level-1 {
  list-style-type: disc;
  font-weight: bold;
  ul {
    font-weight: normal;
  }
}


.image-gallery {
  display: flex;
  align-items: center;
  text-align: center;
  @media screen and (max-width: 640px){
    display: block;
  }

  a {
    padding-right: 1em;
    &:last-of-type {
      padding-right: 0px;
    }
    @media screen and (max-width: 640px){
      padding: 1em 0 0 0;
      display: block;
    }

    img:hover {
      margin: -0.25em;
      box-shadow: 0px 0px 0.5em rgba(52, 152, 219, 0.8) !important;
      border: 0.25em double rgba(52, 152, 219, 0.5);
    }
  }
}


@import "custom/styles_blog";
@import "custom/styles_dance";
@import "custom/styles_sidebar";
@import "custom/styles_gigs";
