// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";

em { /* make italics a little bolder */
  font-style: italic;
  font-weight: 400;
}

ul {
  list-style-type: circle;
}

.narrow-top {
  margin-top: -0.25em !important;
}

.horizline {
  border-bottom: 1px solid black;
  margin-bottom: 10px !important;
}

.forceleft{
  text-align: left !important;
}

.pagination {text-align:center;}
a.prev {float:left;}
a.next {float:right;}

#rss-link {
  float: right;
  position: relative;
  z-index: 1;
  img {
    width: 50px;
    height: 50px;
  }
}

#flashmob-how-to .level-1 {
  list-style-type: disc;
  font-weight: bold;
  ul {
    font-weight: normal;
  }
}


@import "custom/styles_blog";
@import "custom/styles_dance";
@import "custom/styles_sidebar";
@import "custom/styles_gigs";
