// Styling for how I display dances (on choreo page, tooltips etc.)

#blurb-container {
  margin: 1.2em 0 1.2em 0;
  p {
    padding: 0;
    margin: 0;
  }
}

.dance{
  background-color: #CCCCCC;
  color: $color-blog-body;
  padding: 5px 10px 10px 10px;
  margin-bottom: 20px;

  sup {
    // get rid of extraneous footnote padding in this context
    padding: 0 !important;
  }
  .fn-ref {
    font-weight: 400;
  }

  p {
    margin: 0 !important;
    padding-left: 2em;
    text-indent: -2em;

    &.indent {
      padding-left: 3em;
    }
  }
  h3, h4 {
    margin: 0 0 2px 0 !important;
  }

  .dance-title-line {
    font-size: 105%;
  }
  .dance-starts {
    text-indent: 1em;
    font-size: 95%;
  }

  .dance-choreo {
    padding: 0.2em 0 0.5em 0;
  }

  .dance-notes {
    font-style: italic;
    font-size: 97%;
    strong {
      font-size: 103%;  // put back to original font size for section header bits
    }
    div {
      padding-bottom: 6px;
    }
  }

  .dance-footnotes {
    ul {
      list-style: none;
    }
  }

  .author {
    font-size: 97%;
    font-weight: 300;
  }
}

.tippy-box[data-theme~='dance'] {
  background-color: #CCCCCC;
  color: $color-blog-body;

  .dance {  // unset props of this class that are only relevant for non-tooltip-land
    background-color: unset;
    color: unset;
    padding: unset;
    margin-bottom: unset;
  }
}

.dancetip::after {
  // SVG icons with color settable via css (thanks to https://stackoverflow.com/a/68695062)
  //     and thanks to Harris Lapiroff (https://github.com/harrislapiroff) for the icon
  -webkit-mask-size: cover;
  mask-size: cover;
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  -webkit-mask-image: url(/assets/images/icon_assets/dance-tip.svg);
  mask-image: url(/assets/images/icon_assets/dance-tip.svg);
  background-color: $color-link;
}

// see https://atomiks.github.io/tippyjs/v6/themes/#css-arrow
// feels like there should be a more efficient way to do this but here we are
.tippy-box[data-theme~='dance'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #CCCCCC;
}
.tippy-box[data-theme~='dance'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #CCCCCC;
}
.tippy-box[data-theme~='dance'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #CCCCCC;
}
.tippy-box[data-theme~='dance'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #CCCCCC;
}

.new {
  box-shadow: 0px 0px 15px rgba(52, 152, 219, 0.8) !important;
  border: medium double rgba(52, 152, 219, 0.5);
}
