// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";

em { /* make italics a little bolder */
  font-style: italic;
  font-weight: 400;
}

ul {
  list-style-type: circle;
}

.narrow-top {
  margin-top: -0.25em !important;
}

#flashmob-how-to .level-1 {
  list-style-type: disc;
  font-weight: bold;
  ul {
    font-weight: normal;
  }
}

.horizline {
  border-bottom: 1px solid black;
  margin-bottom: 10px !important;
}

.forceleft{
  text-align: left !important;
}

#blurb-container {
  margin: 1.2em 0 1.2em 0;
  p {
    padding: 0;
    margin: 0;
  }
}

.dance{
  background-color: #CCCCCC;
  color: $color-blog-body;
  padding: 5px 10px 10px 10px;
  margin-bottom: 20px;

  sup {
    // get rid of extraneous footnote padding in this context
    padding: 0 !important;
  }
  .fn-ref {
    font-weight: 400;
  }

  p {
    margin: 0 !important;
    padding-left: 2em;
    text-indent: -2em;

    &.indent {
      padding-left: 3em;
    }
  }
  h3, h4 {
    margin: 0 0 2px 0 !important;
  }

  .dance-title-line {
    font-size: 105%;
  }
  .dance-starts {
    text-indent: 1em;
    font-size: 95%;
  }

  .dance-choreo {
    padding: 0.2em 0 0.5em 0;
  }

  .dance-notes {
    font-style: italic;
    font-size: 97%;
    strong {
      font-size: 103%;  // put back to original font size for section header bits
    }
    div {
      padding-bottom: 6px;
    }
  }

  .dance-footnotes {
    ul {
      list-style: none;
    }
  }

  .coauthor {
    font-size: 97%;
    font-weight: 300;
  }
}

.new {
  box-shadow: 0px 0px 15px rgba(52, 152, 219, 0.8) !important;
  border: medium double rgba(52, 152, 219, 0.5);
}

.pagination {text-align:center;}
a.prev {float:left;}
a.next {float:right;}

article#blogintro {
  margin-bottom: 1em;
}

#rss-link {
  float: right;
  position: relative;
  z-index: 1;
  img {
    width: 50px;
    height: 50px;
  }
}

#blognav {
  margin: 10px 0 10px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  @media screen and (max-width: 600px) {
    font-size: 15px;
    font-weight: 300;
  }
  a {
    color: #3498db;
  }
  ul {
    list-style-type: none;
    li {
      display: inline;
      &:last-of-type {
        &:after {
	  content: '';
	  padding: 0;
 	}
      }
      &:after {
	content: '*';
	padding: 0 10px 0 10px;
      }
    }
  }
}

.category {
  text-align: center;
}

.credit {
  font-style: italic;
  font-size: 90%;
  text-align: right;
}

.blogpost {
  margin-bottom: 1.5em;
  &:not(:last-of-type) {border-bottom: 2px dotted #3498db;}
}

#archives,#recent-posts {
  h3 {
    margin: 5px 0 0 0;
  }
  .meta {
    margin-left: 20px;
  }
  .post-description {
    margin: 0px auto 0px 20px;
  }
}

.more-link {
  display: block;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: -.2em;
}

.media-samples {
  list-style-type: none;
  text-align: justify;
  margin-left: 0 !important;

  &:after {
    content: "";
    width: 100%;
    display: inline-block;
  }

  li {
    display: block;
    float: left;
    width: 48%;
    padding: 1%;

    @media screen and (max-width: 885px) {
      width: 70%;
      padding: 5px 15%;
    }
    @media screen and (max-width: 640px) {
      width: 100%;
      padding: 5px 0;
    }
  }
}

.comma-list {
  display: inline;
  list-style: none;
  padding: 0px;

  li {
    display: inline;
    &::after {
      content: ", ";
      margin-left: -0.25em;
    }
    &:last-child::after {
      content: "";
    }
  }
}

// blog sidebar
#blog-sidebar {
  width: 300px;
  float: right;
  padding: 25px;
  position: relative;
  z-index: 1;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 750px) {
    float: none;
  }
}

#sidebar-content {
  border: 5px double;
}
