// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";

em { /* make italics a little bolder */
  font-style: italic;
  font-weight: 400;
}

ul {
  list-style-type: circle;
}

#flashmob-how-to .level-1 {
  list-style-type: disc;
  font-weight: bold;
  ul {
    font-weight: normal;
  }
}

.horizline {
  border-bottom: 1px solid black;
  margin-bottom: 10px !important;
}

.forceleft{
  text-align: left !important;
}

#blurb-container {
  margin: 0.5em 0 1em 0;
  p {
    padding: 0;
    margin: 0;
  }
}

.dance{
  background-color: #CCCCCC;
  padding: 5px 10px 10px 10px;
  margin-bottom: 20px;
  p {
    margin: 0 !important;
    padding-left: 10px;
    text-indent: -5px;
  }
  h3, h4 {
    margin: 0 0 2px 0 !important;
  }
}

.new {
  box-shadow: 0px 0px 15px rgba(52, 152, 219, 0.8) !important;
  border: medium double rgba(52, 152, 219, 0.5);
}

.pagination {text-align:center;}
a.prev {float:left;}
a.next {float:right;}

article#blogintro {
  margin-bottom: 1em;
}

#blognav {
  margin: 10px 0 10px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  @media screen and (max-width: 600px) {
    font-size: 15px;
    font-weight: 300;
  }
  a {
    color: #3498db;
  }
  ul {
    list-style-type: none;
    li {
      display: inline;
      &:last-of-type {
        &:after {
	  content: '';
	  padding: 0;
 	}
      }
      &:after {
	content: '*';
	padding: 0 10px 0 10px;
      }
    }
  }
}

.credit {
  font-style: italic;
  font-size: 90%;
  text-align: right;
}

.blogpost {
  margin-bottom: 1.5em;
  &:not(:last-of-type) {border-bottom: 2px dotted #3498db;}
}

#archives {
  h3 {
    margin: 5px 0 0 0;
  }
}

.more-link {
  display: block;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: -.2em;
}

.media-samples {
  list-style-type: none;
  text-align: justify;
  margin-left: 0 !important;

  &:after {
    content: "";
    width: 100%;
    display: inline-block;
  }

  li {
    display: block;
    float: left;
    width: 48%;
    padding: 1%;

    @media screen and (max-width: 885px) {
      width: 70%;
      padding: 5px 15%;
    }
    @media screen and (max-width: 640px) {
      width: 100%;
      padding: 5px 0;
    }
  }
}
