$max-width: 1000px;

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: $font-default;
	font-size: 16.5px;
	font-weight: 300;
	line-height: 1.5;
	background: $color-background;
	@media screen and (max-width: 1040px){
		margin: 0 20px;
	}
}

h1{
	font-size: 23px;
}

h2{
	font-size: 20px;
}

a {
 	text-decoration:none;
	color:$color-link;
	-webkit-transition:border .25s linear;
	-moz-transition:border .25s linear;
	-ms-transition:border .25s linear;
	transition:border .25s linear;
	outline:none;
}

a:hover {
    text-decoration:none;
    color:$color-link-hover;
}


h3{
	font-size: 20px;
	line-height: 1.2;
	margin: -1em 0 0 0;
	font-weight: normal;
	display: block;
	@media screen and (max-width: 620px) {
		font-size: 18px;
	}

    a{
        font-weight: bold;
		transition: color 0.3s;
		&:hover{
			color: $color-link;
			border-bottom:none;
		}
	}
}

h4{
	font-size: 16px;
	display: block;
	@media screen and (max-width: 620px) {
		font-size: 14px;
	}
}


.alignleft{
	float: left;
}
.alignright{
	float: right;
}
.clearfix{
	// until I get Compass working
	// @include pie-clearfix;
}
.inner{
	width: $max-width;
	margin: 0 auto;
	@media screen and (max-width: 1040px){
		width: 100%;
	}
}

